# Java build output
bin/
out/
target/
build/
*.class
*.jar
*.war
*.ear

# Logs
*.log

# IDE/editor files
.idea/
*.iml
.classpath
.project
.settings/
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json

# OS files
.DS_Store
Thumbs.db
desktop.ini

